.footer {
  background-color: rgb(54, 111, 209);
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  margin-left: 1rem;
  color: aqua;
}
